{% extends 'base.html.twig' %}

{% block body %}
    <main class="ui">
        <div class="container">
            Some errors occurred. Maybe the JSON with heroes couln't be loaded. Maybe the API is down.<br>
            Maybe it's Maybelline.
        </div>
    </main>
{% endblock %}